
/*Rubik*/
@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
    url('../fonts/rubik/Rubik-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
    url('../fonts/rubik/Rubik-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
    url('../fonts/rubik/Rubik-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
    url('../fonts/rubik/Rubik-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
    url('../fonts/rubik/Rubik-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
    url('../fonts/rubik/Rubik-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
    url('../fonts/rubik/Rubik-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
    url('../fonts/rubik/Rubik-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
/* /Rubik*/

/* Lato */
@font-face {
    font-family: 'Lato';
    src: local('Lato'),
    url('../fonts/lato/latoregular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato'),
    url('../fonts/lato/latoitalic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato'),
    url('../fonts/lato/latobold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato'),
    url('../fonts/lato/latobolditalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato'),
    url('../fonts/lato/latoblack.ttf');
    font-weight: 900;
}
/* /Lato */