
@mixin clearfix() {
    &:after {
        content: "";
        clear: both;
        display: table;
        line-height: 0;
    }
}

@mixin container() {
    min-width: 320px;
    max-width: $desktop;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.container {
    @include container();
}

@mixin arrow-down-icon() {
    display: inline-block;
    width: 10px;
    height: 6px;
    background: no-repeat 0 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.14142 4.85858L5.60104 5.3182L5.60104 5.3182L5.14142 4.85858ZM4.85858 4.85858L4.39896 5.3182L4.39896 5.3182L4.85858 4.85858ZM9.45962 1.45962L5.60104 5.3182L4.6818 4.39896L8.54038 0.54038L9.45962 1.45962ZM4.39896 5.3182L0.54038 1.45962L1.45962 0.540381L5.3182 4.39896L4.39896 5.3182ZM5.60104 5.3182C5.26909 5.65015 4.7309 5.65014 4.39896 5.3182L5.3182 4.39896C5.14246 4.22322 4.85754 4.22322 4.6818 4.39896L5.60104 5.3182Z' fill='%23333333'/%3e%3c/svg%3e ");
}

@mixin bgrcolor() {
    transition: background-color 0.3s ease-in-out;
}
