
.subscription {
    position: relative;
    min-height: 100px;
    margin-bottom: 63px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #ECEFF5;
    &:after {
        content: '';
        position: absolute;
        top: -54px;
        right: -24px;
        width: 211px;
        height: 211px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
    }
    &-container {
        @include container();
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
    }
    &-info {
        position: relative;
        margin-right: 70px;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 24px;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -60px;
            width: 30px;
            height: 30px;
            background: linear-gradient(90deg, #E65C00 0%, #F9D423 100%);
            border-radius: 50%;
        }
    }
    &-field {
        display: flex;
        align-items: center;
    }
    &-input {
        width: 230px;
        margin-right: 50px;
    }
}

@media screen
and (max-width: $tablet){
    .subscription {
        &:after {
            display: none;
        }
        &-info {
            font-size: 17px;
            &:after {
                top: auto;
                bottom: 0;
                left: auto;
                right: -25px;
                width: 20px;
                height: 20px;
                transform: translateY(0);
            }
        }
        &-input {
            width: 173px;
            margin-right: 27px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .subscription {
        min-height: auto;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
        &-container {
            display: block;
            min-width: auto;
            padding: 24px 20px 30px;
            margin-right: $gutter;
            margin-left: $gutter;
            background-color: #ECEFF5;
            border-radius: 20px;
        }
        &-info {
            margin-right: 0;
            margin-bottom: 20px;
            padding-right: 20px;
            &:after {
                top: 0;
                bottom: auto;
                right: 0;
            }
        }
        &-field {
            display: block;
        }
        &-input {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
            text-align: center;
        }
        &-button {
            width: 100%;
        }
    }
}